body {
    font-family: "work sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 800px;
    height: 250px;
    margin: 10px auto;
    position: relative;
}

.slider-container img {
    height: 250px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 800px;
}

.slider-container img.active {
    opacity: 1;
}

.slider-container .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
    z-index: 2;
}

.slider-controls {
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider-controls .perv, .slider-controls .next {
    background-color: #009688;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    user-select: none;
    width: 20%;
}

.slider-controls .perv {
    float: left;
}

.slider-controls .next {
    float: right;
}

.slider-controls .perv.disabeld, .slider-controls .next.disabeld {
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
}

.slider-controls .indicators {
    width: 60%;
    float: left;
}

.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indicators ul li.active {
    background-color: #009688;
    color: #fff;
}